[2020-10-25 17:20] rockhymas opened #336 "Console exception when reflex updates a page that didn't trigger the update"
# Bug Report

## Describe the bug

Reflex updates that are not triggered by the client they are being sent to, show a console error:

[code]

Introduced by https://github.com/hopsoft/stimulus_reflex/pull/299. The `promises` hash doesn't have an entry for the reflexId passed, but there is not check for null/undefined.

## To Reproduce

Use the TodoMVC app in two browser tabs, but with StimulusRefle

[2020-10-25 17:34] Schlipak commented on #336
I'm having the same issue, seems related to #335.

[2020-10-25 20:31] leastbad commented on #336
Hi @rockhymas, is this issue fixed by running #335 on your local machine?

It'd be really, really helpful to the project if you were able to help us confirm that our fix for your problem works as intended.

[2020-10-25 21:08] piotrwodz commented on #264
@leastbad Recently I worked on a server-side logging per reflex action. As a result debugging in development feels more friendly 👍 The guidelines defined in this issue were helpful. Thanks for that. There is a linked PR where you can find an overview of my solution. Give it a go, please! 🏎️  + 👀

[2020-10-28 01:13] leastbad commented on #336
You are in luck! I wrote a new documentation section for you the other day:

https://docs.stimulusreflex.com/setup#running-a-branch-to-test-a-github-pull-request

[2020-10-28 03:31] rockhymas commented on #336
Sweet, that got me unblocked for bit. I now have both the gem and the node package, but the javascript isn't being included in webpack now, so I see this error on page load:
[code]

Yarn is saying I need to link `stimulus_reflex`, but when I try to do that it says `stimulus_reflex` isn't registered. I don't want to turn this issue into my personal tech support, but I'm stumped on this one.

[2020-10-28 04:02] leastbad commented on #336
Can you confirm that you've run `yarn install --check-files`?

Also, if you're on [Discord](https://discord.gg/XveN625), this could be easier to solve.

[2020-10-28 13:09] rockhymas commented on #336
Yeah, I've run that, output shows no errors. Will jump on discord.

[2020-10-30 05:43] tleish opened #342 "ActionController::RoutingError with Rails 6 Engines"
# Bug Report

## Describe the bug

When using StimulusReflex with Rails 6.0.3.4 from a Rails engine, I get the error on a StimulusReflex::Channel#receive:

[code]

## To Reproduce

1. Create a rails application with StimulusReflex
2. Create a Rails engine
3. Add the code described in [StimulusReflex Quickstart](https://docs.stimulusreflex.com/quickstart) to the engine
4. Click on the link "Increme

[2020-10-30 09:21] leastbad commented on #342
This is a really fascinating issue, @tleish - thanks for bringing it to our attention.

We have definitely had lots of issues with `request.env`; I'm *pretty sure* that you're the first person to realize that calling `recognize_path_with_request` is **mutating** it. That explains a lot, TBH.

Still, the big ? floating over this issue is why it's failing for you and your app and this URL, while so

[2020-10-30 12:19] leastbad commented on #342
Hey again... I've spent a fair bit of time looking into this and am at least re-familiarized with the parts of the codebase that this touches. That said, I personally have very little direct experience working with Rails engines, so that MVCE will be really important.

What is much clearer to me now than when I left my initial reply is that what you're showing would likely work if it wasn't happen

[2020-10-30 13:12] tleish commented on #342
Hi @leastbad,

Try this small app.

see: https://github.com/tleish/stimulus-reflex-within-rails-engine

To reproduce the error, install and run the app.  The navigate to http://localhost:3000/orders/pages and click the "Increment" link.  You should see the error in the log.

If you can uncomment the the monkeypatch  in `config/initializers/stimulus_reflex.rb` then StimulusReflex works.

[2020-10-30 13:39] tleish commented on #342
Looking PR https://github.com/hopsoft/stimulus_reflex/pull/172, @db0sch says the following:

The PR was created in response to a devise issue reported in #173, which also dealt with routes.  Perhaps it's because devise is also an engine and the way in which `Rails.application.routes.recognize_path_with_request` mutates the `env`?

[2020-10-30 15:00] leastbad commented on #342
I'm just installing everything and noticing that you have the `package.json` set to use v3.2.3 and `Gemfile` is using v3.3.0.

Can you please verify that you have both libraries set to v3.3.0?

[2020-10-30 15:20] tleish commented on #342
I updated `package.json` to match Gemfile and pushed to github, still same issue.

[2020-10-30 15:56] leastbad commented on #342
Alright, I think I have a solution.

The only place in the app that `Reflex#url_params` is used is in `page_broadcaster.rb` - it's just used as a way to figure out the name of the current action. I thought that perhaps `url_params` was something that needed to exist for Rails or Devise, but that simply doesn't appear to be the case.

If we swap out line 6 of `page_broadcaster.rb` to be:
`reflex.co

[2020-10-30 20:18] #342 closed

[2020-10-30 20:19] leastbad commented on #342
@tleish thanks for bringing this issue to our attention. The fix is now in the master branch, which will have to hold you over until v3.4.0.pre0 comes out soon.

[2020-10-31 10:19] leastbad commented on #336
Hey @rockhymas, are you sorted on this issue?

[2020-10-31 10:32] leastbad commented on #333
Hey @jonathan-s, as you know @julianrubisch has been doing some high-quality thinking about how to make SR more modular with an adapter approach, especially around transport mechanisms.

It seems like in order to support other transports, we'd have to compartmentalize ActionCable anyhow. This would seem to (somewhat) implicitly address the spirit of this issue, because ActionCable would become jus

[2020-10-31 10:43] leastbad commented on #329
Hey @acetinick, how are you feeling about this issue? It seems like there's been some good discussion and work done, but it's not clear to me if there's something we would need to change at the library level to help facilitate the use of Alpine.

Could you summarize and advise on whether this issue is still, in fact, an issue? If not, we should close it.

[2020-10-31 10:49] #321 closed

[2020-10-31 10:56] #336 closed

[2020-10-31 11:10] #202 closed

[2020-10-31 11:17] jonathan-s commented on #333
Thanks @leastbad, I definitely understand that this isn't a trivial update and needs some thinking around it. I added this issue so we can start some thinking around it for this very reason.

You also pose some great questions around what an adapter should support. I'll have a think about this and provide some input here!

[2020-10-31 11:49] julianrubisch commented on #333
As I already noted elsewhere a couple of times, IMHO the hard part is to abstract away the CableReady dependency on the client side, since it we make transport adapters a reality, we are going to need a morphdom wrapper that is _not_ bound to ActionCable.

So my €0.02 are: we should separate these two discussions. I think splitting CR into „core“ and „ws“ should be _fairly_ straightforward

[2020-10-31 14:44] rockhymas commented on #336
Yeah, this is great, and I've learned a lot. Thanks again.

[2020-10-31 17:09] acetinick commented on #329
hi @leastbad , believe this is an issue specific to CablaReady (morphdom) and AlpineJS.   Think its better to close it here, and I'll investigate more how CableReady is using morphdom to see if can narrow down issue in more detail.  Will raise a new one once I have more inforamtion

[2020-10-31 17:32] #329 closed

[2020-11-01 09:35] jonathan-s commented on #333
Some thoughts on how I would structure things.

`controller.StimulusReflex` would have a consumer that you can access, instead of accessing the consumer via the subscription.  The consumer should have a method `isOpen`. I would also rename `isActionCableConnectionOpen` to `isWebsocketConnectionOpen`

That would help [here](https://github.com/hopsoft/stimulus_reflex/blob/v3.3.0/javascript/stimulus_

[2020-11-01 19:59] leastbad commented on #333
This is exactly what I had hoped for.

My eyes are very close to the ground, so the best help comes from folks looking from above.

[2020-11-03 04:50] tleish commented on #342
@leastbad - upgrading to v3.4.0.pre0 requires `cable_ready` js package.  Is cable_ready now a required dependency?

[2020-11-03 18:05] leastbad commented on #342
Yes, sir! It is, in fact, the backbone of the entire operation.

[2020-11-04 19:51] gordysc opened #350 "Regression in version 3.4.0-pre1: Cannot find module `cable_ready`"
# Bug Report

## Describe the bug

Following the [Setup](https://docs.stimulusreflex.com/setup#command-line-install) directions for an existing Rails 6 application results in a compilation error by webpacker:

[code]

## To Reproduce

Follow the commands from the [Setup Section](https://docs.stimulusreflex.com/setup#command-line-install):

[code]

## Expected behavior

Webpacker should compile wit

[2020-11-04 20:01] marcoroth commented on #350
Hey @gordysc, thanks for reporting this issue!

I think I experienced something similar yesterday but thought it's a local setup thing.

Could you try to `cd node_modules/stimulus_reflex && yarn install && cd -` and see if this resolves the issue for you?

If so, I think we might have to build the npm package differently ;)

[2020-11-04 21:00] gordysc commented on #350
@marcoroth Thanks for the fast response!  That did appear to fix the issue as a temporary work around.  In my Rails application I also had to stomp `tmp` and `public/packs`.

[2020-11-04 23:27] marcoroth commented on #350
Hey @gordysc, I'm glad that the workaround worked out for you.

May I ask, do you have `cable_ready` listed as a dependency in your `package.json`?
If not: running `yarn add cable_ready@4.4.0-pre2` should resolve your issue.

In #315 `cable_ready` was declared as a peer dependency instead of a regular dependency. As a consequence of this all StimulusReflex apps upgrading from `3.3.x` to `3.4.x` no

[2020-11-05 02:15] gordysc commented on #350
@marcoroth Sure, that makes sense.  I get why it was moved to a peer dependency.   Thanks for the good discussion!  Already saw #351 , so I'm going to close this out.  Cheers!

[2020-11-05 02:15] #350 closed

[2020-11-13 03:00] rockhymas opened #363 "Console exception when reflex does not update a page that didn't trigger the reflex"
# Bug Report

Using a simple `morph :nothing` reflex action causes pages that did not trigger the reflex to have a console error.

## Describe the bug

Create a reflex that specifies `morph :nothing`. Open the same page in two tabs. Trigger the reflex. The tab in which it isn't triggered now has a console error:
[code]

## To Reproduce

See above

## Expected behavior

No console errors

## Screen

[2020-11-13 13:05] leastbad commented on #363
Thanks for noticing this, Rock. I'm looking into it this morning.

[2020-11-13 13:31] leastbad commented on #363
One thing that is interesting/troubling is that it happens regardless of whether SR is in isolation mode or not.

I've also verified that the issue manifests on master.

[2020-11-13 14:14] rockhymas commented on #363
It looks in part, like this is happening because there is a lifecycle event we want to fire for `nothing` morphs, i.e. `stimulus-reflex:nothing` and `reflexNothing`. That's not documented anywhere, but maybe some people are using it, though I can't imagine why they would. It seems like the fix here is to bail out of the handler for `stimulus-reflex:server-message` event when `subject === 'nothing'

[2020-11-15 13:26] WozniakMac opened #365 "Not calling afterReflex if you remove action element inside reflex with morph"
# Bug Report

## Describe the bug

When you call the reflex to remove clicked element from `dom`, `afterReflex` callback won't ba called.

I suspect it's because `element`  in `dispatchLifecycleEvent` on stage `finalize` is `null`. Because of this, my loading spinner is not stopping.
![image](https://user-images.githubusercontent.com/5711438/99185469-04fdd180-2742-11eb-98f1-ef23a62a43fc.png)
![ima

[2020-11-15 15:15] leastbad commented on #365
Sadly, the premise of your issue is flawed in the context of how SR is designed and (as you have confirmed) how it works.

Please understand that I am not happy to tell you this; I'd far prefer that this was a bug.

However, the two things you're wanting to do are indeed mutually exclusive; you can either replace an element or raise an event from a Stimulus controller instance on that DOM element.

[2020-11-15 15:16] #365 closed

[2020-11-15 20:41] jonathan-s opened #366 "Form data still not captured"
# Bug Report

## Describe the bug
It looks like form data is still not captured correctly. I was thinking that perhaps it's just my implementation in django that is wrong, but it does look like the data is not captured client side.

## To Reproduce
I've made this [codepen](https://codepen.io/jonathan-s/pen/WNxmbwG) that simulates the behaviour that happens in utils.js. The function `serializeForm`

[2020-11-15 20:54] jonathan-s commented on #366
It looks like I had forgotten to set the name of the form inputs. Which was the reason they were not captured.

[2020-11-15 20:54] #366 closed

[2020-11-16 12:24] Matt-Yorkley opened #367 "`stimulus_reflex:install` fails to complete in Rails 5.2"
# Bug Report

## Describe the bug

Fatal error in `stimulus_reflex:install` task in Rails 5.2.

## To Reproduce

1. Generate a fresh Rails app with 5.2
2. Go through the simple steps in the [setup guide](https://docs.stimulusreflex.com/setup#command-line-install)
3. `bundle exec rails stimulus_reflex:install` _mostly_ completes, but hits a fatal error and misses out a few bits of the install proce

[2020-11-16 15:25] leastbad commented on #363
@rockhymas if you could please test #368 ASAP I'd hugely appreciate it

[2020-11-16 15:34] leastbad commented on #367
Hi Matt, thanks for reporting this. The documentation can and will be clearer that this is an install for Rails 6+.

There is a section on Rails 5.2 further down on the same page... did you see it? https://docs.stimulusreflex.com/setup#rails-5-2-support

[2020-11-17 00:18] Matt-Yorkley commented on #367
Yes, I just thought there might be simple way to replace that method call that would make it work in both versions..?

It's just being used to write a lower-case string with the name of the current project: https://github.com/hopsoft/stimulus_reflex/blob/5c39c91ceec3c8a27520568128f51d4204f1f945/lib/tasks/stimulus_reflex/install.rake#L63

[2020-11-17 00:28] leastbad commented on #367
Oh, I see what you mean. Let me look into this.

[2020-11-17 00:29] Matt-Yorkley commented on #367
Eg: `File.basename(Rails.root.to_s)` would give you the same result, and the installer would succeed in 5.2 and 6

[2020-11-17 00:30] leastbad commented on #367
Hey, I encourage you to whip up a PR so you get credit!

[2020-11-17 01:13] #367 closed

[2020-11-17 02:40] rockhymas commented on #363
Tested in my simple repro project, all good. Tested in the project I'm working on and I'm seeing another issue with nothing morphs.
[code]
It's happening at https://github.com/hopsoft/stimulus_reflex/blob/master/javascript/stimulus_reflex.js#L85 because `element` is null. I'll try to work up a simpler repro for it.

[2020-11-17 03:01] leastbad commented on #363
That's a new one. Can you please confirm that you're not modifying the DOM after initiating the Reflex operation?

If you look at the server log, you can pick out the XPath value. Can you eyeball it and compare it to your app's DOM, make sure that the XPath resolves to the DOM element that initiated the Reflex? (That'll be the element with the `stimulus-reflex` controller, if there isn't one.)

[2020-11-17 03:03] leastbad commented on #363
[code]
You can use this function to take the XPath query and resolve it to a DOM element.

[2020-11-17 03:35] rockhymas commented on #363
Yeah, the reflex sends a cableready message to delete the containing element (like deleting a todo in a list).

[2020-11-17 04:06] leastbad commented on #363
Okay, well, there's your answer - you're deleting the elements before SR is done with them. That's not how the tool was designed to be used.

What I (strongly) suggest is that you use the afterReflex or after[Action] callback of the controller to `remove` the element after SR resolves the promise.

I'm going to close and merge, because the problem defined in this ticket has been resolved. Thanks f

[2020-11-17 04:06] #363 closed

[2020-11-17 04:56] rockhymas commented on #363
Cool, thanks for the pointers, and the original fix.

[2020-11-19 01:18] #264 closed

[2020-11-21 20:38] romanos opened #376 "SR doesn't seem to handle redirects / 302s"
From the docs:

Sometimes, the next time a user refreshes the page, they are redirected for some reason. Either a condition has changed on the backend, a link has expired, etc. SR doesn't seem to handle this condition (though I could have **sworn** at some point in prior versions I was not seeing this behavior).

Instead, I'm seeing a blank page with the actual redirect text, "You are being redire

[2020-11-21 22:20] leastbad commented on #376
I believe you! But we 100% need to see this in an MVCE because it's *really* odd only hearing this from one person and there's no way for us to debug it if we can't reproduce locally.

The easiest/fastest way is for you to clone https://github.com/leastbad/stimulus_reflex_harness or you can `rails new` and run the SR install pretty fast.

The other possibility is that something is misconfigured in

[2020-11-21 22:28] leastbad commented on #376
Sorry, I actually just re-read the issue on my desktop and saw that you are literally using `redirect_to` in your controller for a page morph.

This doesn't work in SR, I'm afraid. It **never** has, and I suspect that it won't going forward.

I'm not saying that you can't use `redirect_to` in your application, but you can't do it when you're doing a page morph. When it is displaying "You are being

[2020-11-21 22:28] #376 closed

[2020-11-22 03:17] romanos commented on #376
I suspected as much, but am retrofitting an existing app and this is the current behavior. Thanks for clarifying. Would be great to know the limitations or other conversion pitfalls in the docs. Thanks!

[2020-11-22 04:58] leastbad commented on #376
Here's the thing: this isn't a limitation. SR is a tool for modifying the current page. SR has never followed 302 and indeed, it wouldn't make sense to given the goal of the library. If you need to morph to a new page, you should just navigate to that page.

StimulusReflex is designed to offer developers tools to create reactive functionality inside their UIs without having to use a Single Page Ap

[2020-11-22 19:16] romanos commented on #376
I understand the goal of the library, and I've had great success in 99% of contexts using SR. The thing is this:

Rendering a 302 on the server is the only way I know of to reliably redirect the browser to a new page _from the server_. I could obviously send a specific signal to the front end or use CableReady or render a javascript snippet or something else to change location, but especially in t

[2020-11-22 21:27] leastbad commented on #376
I hear you, and I appreciate you sticking with us.

It's true that `CableReady#push_state` is a thing, and that you can use `CableReady#dispatch_event` to accomplish just about anything with a tiny Stimulus controller listening for updates. These are the tools we reach for and prefer.

Aside from clarifying that, no, SR has never been able to follow redirects (a kind of gift in a world with so man

[2020-11-23 03:00] romanos commented on #376
Again, I hear the point you're trying to make, but "shouldn't ever" is a very broad term. There are many authentication schemes that redirect on expired authentication or failed authorization. There are situations where a resource has moved or expired during session. More common, there are forms to be filled and edited in a wizard-like flow that ultimately end up in a redirection to a new asset. I

[2020-11-23 04:22] leastbad commented on #376
Paraphrasing this excellent thread on [SE](https://softwareengineering.stackexchange.com/questions/188860/why-shouldnt-a-get-request-change-data-on-the-server), "A GET should never change data on the server" is not advice, it's codified in the HTTP protocol. GET is supposed to be idempotent. It's not my opinion.

To join the rapidly growing demographic of SR enthusiasts, you will need to be open t

[2020-11-23 07:08] jonathan-s commented on #376
I may be missing part of the discussion, but if you want SR to redirect in some way you can make that redirection happen in javascript in the stimulus controller after the reflex if it fulfills some kind of criteria.

[2020-11-23 15:27] romanos commented on #376
Hey @jonathan-s, thank you for adding. I think we've moved on from the "how to do this" to the "why are things this way" part of the conversation. The how was never really under question, it's more about why.

@leastbad, you're reminding me about another aphorism about tools - when you're a hammer, everything looks like a nail. I understand your point of view, and I hear you on the evolution of be

[2020-11-26 16:01] BodomBeach commented on #161
What is the status on this issue ?
I am trying to bind on a HTML element added in ajax, the reflex method is run fine, but my component is not updated. I have tried the following without any success:
-`document.dispatchEvent(new Event('cable-ready:after-morph'))`
-`StimulusReflex.setupDeclarativeReflexes()`

Thanks!

[2020-11-26 16:19] leastbad commented on #161
@BodomBeach hey Nicolas, could you please jump on Discord? So many questions, but this is not the best medium for troubleshooting. https://discord.gg/XveN625

[2020-11-29 09:06] jonathan-s opened #391 "Multiple reflex submissions can lead to unexpected behaviour."
# Feature Request
Not sure if I'd classify this as feature request or a bug. Either way.

You can see the behaviour in the book search in the stimulus reflex expo. If you start to write something, stop for 200ms, then continue to write it will send two reflex submissions. All well and good so far. Because, the api endpoint is slow we have a loader. So after the first submission we start to see the

[2020-11-29 09:34] leastbad commented on #391
I believe that we already do a huge amount to ensure successful concurrency; see the new `finalize` stage.

At some point, after documentation and support, the developer must use the tools we give them and design their interactions properly.

[2020-11-29 11:01] jonathan-s commented on #391
I'll have a look at the finalize stage!

[2020-11-29 13:44] marcoroth commented on #391
Wouldn't that be solved with Nate's `debounced` library?

https://github.com/hopsoft/debounced

[2020-11-29 21:24] jonathan-s commented on #391
Not really. The case I was trying to describe is that the user enters something two or more times and each time the debounce is short enough that it triggers a reflex and the reflex response is long enough that several dom updates are triggered.

Though given a long reflex responses, the correct answer perhaps is re-designing the application so that subsequent requests are not triggered in that wa

[2020-11-29 21:24] #391 closed

[2020-11-30 19:51] davissp14 opened #394 "stimulus_reflex.js:388 Uncaught TypeError: Cannot read property 'completedOperations' of undefined"
# Bug Report

Issue that just seemed to crop up after upgrading Ruby + Stimulus Reflex.

I am using the content_reloader via the tutorial here.  The only difference is that instead of using `fetch` to apply new changes, I am using `this.stimulate` to re-render the content.
https://stimulusjs.org/handbook/working-with-external-resources

When navigating away from the page that contains this control

[2020-11-30 20:19] davissp14 commented on #394
[code]

[2020-11-30 20:28] leastbad commented on #394
Hi Shaun,

What version of StimulusReflex are you using?
What version of Stimulus are you upgrading to?
Are you using Turbolinks?

Can you please confirm that you've read and understood https://docs.stimulusreflex.com/troubleshooting#dont-initiate-a-reflex-when-your-page-has-finished-loading as it seems like you're attempting to `stimulate()` when you load the page. This isn't how StimulusReflex i

[2020-11-30 21:05] davissp14 commented on #394
**Update:**

I downgrade to Ruby 2.6.3 and Stimulus Reflex 3.2.3 and the problem was resolved.

[2020-11-30 21:21] davissp14 commented on #394
I've tried both 3.2.3 and 3.3.0

Haven't updated this, nor tried.  Stimulus/core is locked at ^1.1.1

Yes

Right, this doesn't initiate a morph on page load.  On connect() I configure an interval in which to trigger stimulate.  In my case, it will call stimulate() every 60 seconds ( starting 60 seconds after the initial connect()).

I have a dashboard with buttons that are only enabled at specific

[2020-11-30 21:34] leastbad commented on #394
I only asked about Stimulus because your issue started by saying that you'd upgraded it.

If moving to 3.2.3 solves the problem you're having, that's great - but we're on the verge of releasing 3.4 and we follow SemVer but each minor release brings a huge amount of new functionality. The version you should be testing against today, IMO, is 3.4.0.pre6, not 3.2.3. YMMV!

I just re-read your issue...

[2020-12-01 14:13] poqudrof opened #396 "DirectUpload URL not set using morphs"
Hello, thanks for the great work ! 

The morphs are really amazing, even though it was already a great library.

I just found a tiny bug
# Bug Report

The directUpload target is not set using morphs.

## Describe the bug

The "data-direct-upload-url" is not set when using morphs.

It seems that it is done there: `https://github.com/rails/rails/blob/master/actionview/lib/action_view/helpers/form_ta

[2020-12-01 14:59] leastbad commented on #396
Hello Jeremy!

SR technically doesn't support file uploads, but it shouldn't be impacting your view helpers.

Can you make sure that your environment has
[code]
in it?

[2020-12-01 15:19] poqudrof commented on #396
Hello,

It seemed that it was clearly not part of my configuration.

That fixed it. I guess you could note it in the documentation. When I searched for it I did not find any reference to the impact in DirectUpload nor the default `example.org`.

Thanks a lot for this quick response ! 

[2020-12-01 15:19] #396 closed

[2020-12-01 15:38] leastbad commented on #396
I actually don't know what DirectUpload is! 🤷‍♂️

As you can see above, the information was in the docs. It's just not specific to your problem; there's no way for me to list every helper.

[2020-12-01 16:48] poqudrof commented on #396
It is an addon for ActiveStorage to send object in Javascript directly to an object server. It features quick and easy upload progress bars, and multi-uploads.

https://edgeguides.rubyonrails.org/active_storage_overview.html#direct-uploads

Please do not be offended, I am super happy with this library and the documentation is also awesome. Indeed, it should be concise to remain clear for most user

[2020-12-01 17:07] leastbad commented on #396
Hey Jeremy, I am sorry that I can come across as prickly and overly serious in text. I want you to know that I am actually greatly relieved that we were able to come up with a quick solution to your issue, and certainly no offence was taken.

I have updated the text on the documentation to mention the example.com URL which should hopefully assist others using the search function in the future.

As

[2020-12-04 00:01] excid3 commented on #289
Ran into this with Jumpstart Pro as well. I was testing previously without the middleware, but since StimulusReflex isn't aware of the middleware, it won't set the `SCRIPT_NAME` properly when processing requests.

In Rails, the middleware rewrites `localhost:3000/1/projects` to `localhost:3000/projects` with `request.script_name = "/1"` This way Rails never sees the `/1`.

StimulusReflex doesn't r

[2020-12-04 00:13] excid3 commented on #289
Related: https://github.com/rails/rails/issues/34023

[2020-12-04 02:25] leastbad commented on #289
@excid3 just so I'm on the same page, is the 1 in this the `id` of the Project or is this something to do with how `acts_as_tenant` works? I don't understand how `localhost:3000/projects/1` becomes `localhost:3000/1/projects`

[2020-12-04 02:28] excid3 commented on #289
It's the tenant id. So `/1/projects/2` would be tenant #1, project #2 for example.

Rails never sees the /1 as it's stripped using script_name in the middleware.

In theory, that should be accessible in the actioncable connection if we mounted at /1/cable

[2020-12-04 02:43] leastbad commented on #289
It's not promising when an issue opened by a Basecamp employee hasn't been closed in two years. That does sound like the exact same issue.

So, `config.action_cable.mount_path` gets set in the environment. How would you overwrite it on a per-tenant basis? Something tells me that you can't just pass in a proc.

[2020-12-04 02:43] excid3 commented on #289
ActionCable isn't an isolated namespace so I don't think it applies.

[2020-12-04 02:44] excid3 commented on #289
And you just set the meta tag to change the actioncable url.

[2020-12-04 02:51] leastbad commented on #289
Duh, right - of course. The mount path is just getting printed into the view.

Well, you might want to obfuscate the tenant id but it sounds like a viable solution.

[2020-12-04 02:53] excid3 commented on #289
Not real sure why script name is empty inside the actioncable connection. It should pass through the middleware same as the other requests.

[2020-12-04 02:55] leastbad commented on #289
It might be worth pinging @georgeclaghorn oh wait I just did

[2020-12-04 13:41] excid3 commented on #289
@leastbad would you reopen this?

[2020-12-07 06:29] zhongsheng commented on #394
If import "controllers" more than once will produce this problem. And ensure to use nodejs12, with nodejs10 `afterReflex` callback not work.

[2020-12-07 06:57] leastbad commented on #394
Hi @zhongsheng!

@davissp14 says that it's working in development but not in production. Unless he's not testing in development before deploying, hopefully he's caught any duplicate `import "controllers"` mishaps.

I'm honestly not sure what you mean about nodejs 10 vs 12. Could you go into more detail? It's the first time I'm hearing about this, given that it is a client library.

[2020-12-08 14:31] joshleblanc opened #402 "Sanity checker will fail if node_modules folder isn't present"
# Bug Report

## Describe the bug

The sanity checker relies on node_modules to verify that the stimulus_reflex npm package is installed. The node_modules folder isn't guaranteed to exist in production, because a user could pre-compile their frontend assets to public/ and never push the node_modules folder to the server (Or run yarn install on the server at all).

## To Reproduce

Run `assets:prec

[2020-12-09 02:47] hopsoft commented on #402
Did #401 resolve this @leastbad ?

[2020-12-09 03:26] leastbad commented on #402
No, unfortunately. @RolandStuder is going to try and do a PR to add a case where there is no `node_modules` folder in the production environment tomorrow. It's something to do with when/where precompilation occurs.

The code to look into yarn.lock is in the git history already, we just have to dust it off and add it as an edge case.

[2020-12-09 14:13] RolandStuder commented on #402
@joshleblanc I think #403 should fix this, would be great if you could check it.

[2020-12-10 00:54] fedegl commented on #394
I've seen the error as well in both development and production.

In development, I have been able to reproduce it by opening the same URL in 2 different browser windows and then executing a reflex. The error happens on the window where the action wasn't triggered.

I haven't been able to reproduce the same scenario on production myself, but I have seen errors on Honeybadger from other users.

[2020-12-10 00:55] fedegl commented on #394
I realized that I also had imported **controllers** twice, but even after fixing that, I still see the issue happening.

[2020-12-10 00:58] fedegl commented on #394
I am on **Ruby 2.7.2** and **Stimulus Reflex version 3.3.0** for both gem and npm package.

[2020-12-10 01:19] leastbad commented on #394
I strongly advise that you upgrade to v3.4.0.pre8 (and soon, pre9) as this is unfortunately a known issue in v3.3 that cannot be easily fixed.

[2020-12-10 01:34] davissp14 commented on #394
Upgrading to 3.4.0.pre8 did seen to resolve the issue.  Appreciate it!

[2020-12-10 01:35] leastbad commented on #394
Awesome! pre9 will be out soon, and it's non-trivially improved from pre8 in subtle but important ways. Keep your eyes peeled. 😀

[2020-12-10 01:35] #394 closed

[2020-12-10 01:37] fedegl commented on #394
It did resolve it for me as well. Thanks! 💯

[2020-12-12 15:27] #402 closed

[2020-12-12 15:33] #289 closed

[2020-12-14 01:42] jonatassalgado opened #406 "StimulusReflex (3.4.0.pre9) was unable to find an element"
## Describe the bug

It seems like stimulus_reflex return only `key `attribute whitout data ("`data-key`"), so after in `findElement `method an query for element return no value.

They has unique key in a list os elements, I had test with id attribute also. I tested with _3.4.0.pre8_, same error (and `dispatchEvent`, after morph, to active lifecycle events not working).

This error occur after I u

[2020-12-14 12:24] joshleblanc commented on #406
This looks like a view_component_reflex issue.

In any case, when rendering a collection of components with VCR, you'll want to provide a collection_key in your component, as described in the readme.

https://github.com/joshleblanc/view_component_reflex#collections|

Failing that, please open an issue over there with an MVCE, and I'll take a peek

[2020-12-16 22:37] jonatassalgado commented on #406
I started to perform the upgrade with more attention now, I believe I made a mess with the dependencies (gems/packages) and some custom code. When I get the latest version of stimulus_reflex and if the same error occurs I will reopen the issue. For now I will leave it closed until I confirm. Thanks for your attention @joshleblanc !

[2020-12-16 22:37] #406 closed

[2020-12-17 06:08] scottbarrow opened #408 "uninitialized constant StimulusReflex::Channel"
# Bug Report

_Please help us help you by filling out any applicable information in this template and removing the rest!_

## Describe the bug
CI build fails
A clear and concise description of what the bug is.

rake aborted!
--
  | NameError: uninitialized constant StimulusReflex::Channel
  | /usr/local/bundle/gems/bootsnap-1.4.7/lib/bootsnap/load_path_cache/core_ext/active_support.rb:80:in `block

[2020-12-17 06:09] scottbarrow commented on #408
Related https://github.com/podia/stimulus_reflex_testing/issues/6

[2020-12-17 06:10] #408 closed

[2020-12-21 16:16] jonathan-s opened #412 "If the element no longer exists, try to find it."
# Feature Request
In the lifecycle, if the element was morphed out of existence StimulusReflex warns the user that the element is no longer there and that we should move the reflex higher up.

What we can do is to try and find the element if the element has an id or data-key.

https://github.com/hopsoft/stimulus_reflex/blob/6daf13fbe526c0b14e5bff1b1c5a9f2e483ccdd0/javascript/lifecycle.js#L146

##

[2020-12-21 16:18] marcoroth commented on #412
Hey @jonathan-s, this is what we are doing on L148 🙈

https://github.com/hopsoft/stimulus_reflex/blob/6daf13fbe526c0b14e5bff1b1c5a9f2e483ccdd0/javascript/lifecycle.js#L148

[2020-12-21 16:21] jonathan-s commented on #412
Just realized! Feels like it always happens when I open an issue 🤦‍♂️

[2020-12-21 16:21] #412 closed

[2020-12-21 18:17] jonathan-s opened #413 "Lifecycle events not being issued correctly"
# Bug Report
This issue is half feature proposal, half bug report.

## Describe the bug
Assume that we have the following code, and when clicking on the element we issue a full page morph.

[code]

When you click on that element the standard stimulus reflex controller will pass everything correctly to the backend. However none of the lifecycle methods will work.

To get the `beforeNewCalendarEvent

[2020-12-21 19:13] leastbad commented on #413
The *only* way reflex-specific lifecycle methods are intended to work is based on you attaching a `data-controller="foo"` to the element.

What's of concern to me is the `element.reflexData` not containing data part. Are you saying it's undefined?

Can you please prepare an MVCE using https://github.com/leastbad/stimulus_reflex_harness so we can see what you're seeing?

[2020-12-22 00:01] jonathan-s commented on #413
I was unable to replicate that in the rails application above. However, I've made some progress in terms of understanding what's happening. If someone would like to take a look I have a django app where I can replicate this.

We always have the data here:
https://github.com/hopsoft/stimulus_reflex/blob/master/javascript/stimulus_reflex.js#L103

Then at a later point we sometimes are not able to ac

[2020-12-22 00:20] jonathan-s commented on #413
@marcoroth Since you changed this line here: https://github.com/hopsoft/stimulus_reflex/blob/6786181658ee3504fe19a5c496e1c2398a74368b/javascript/lifecycle.js#L18

Is there any reason why we don't do `!reflexes[reflexId]` instead?

If `element.reflexData` is empty as in my case (which I frankly still don't understand why that is), it would be possible to fill in the reflex data again on the next li

[2020-12-28 02:06] leastbad commented on #413
Is this still a thing, @jonathan-s ?

[2020-12-28 09:09] jonathan-s commented on #413
@leastbad No longer a thing so closing this. I mentioned the following in the PR, do you have any thoughts around that?

[2020-12-28 09:09] #413 closed

[2020-12-28 09:47] leastbad commented on #413
This has come up a few times. I understand why you suggest it.

It's one thing to put our own `stimulus-reflex` controller on an element. I think it's a step further / too far to assume that we want to put *their* controller on the element.

If we'd started this early on, we might well have ended up with a different approach.

One thing you could propose is the idea of a naming scheme where if you

[2021-01-07 00:35] leastbad opened #419 "cable_ready method in Reflex class should support custom operations"
Currently, the CableReadyChannels class does not recognize [operations created by the developer](https://cableready.stimulusreflex.com/customization#custom-operations).

I have devised a temporary workaround until a transparent solution can be locked down:

Let's say that you want to use your custom `jazz_hands` method in your Reflex class. You must add this to your Reflex action before you attemp

[2021-01-09 03:32] leastbad opened #422 "form serialization should be optional"
Forms should not automatically serialize to the `params` collection.

This behaviour should be opt-in, either globally or on a per-Reflex basis.

Switching from using `form` elements to something like `input-group` might be more logical. Or perhaps we introduce the `data-reflex-serialize` attribute and allow users to put it on any element they like. The functionality could behave exactly as it doe

[2021-01-09 03:36] leastbad opened #423 "isolation mode should be enabled by default"
Since 95% of users today have `isolate: true` in their StimulusReflex `initialize` options, flipping from opt-in to opt-out will impact virtually nobody.

New installs will simply omit the `isolate` key from the options, but both `true` and `false` will continue to be valid states.

[2021-01-10 00:55] jonsgreen opened #425 "Multiple text inputs with the same name lose value in Reflex"
# Bug Report

This has been discussed, reported and confirmed in [this discord message thread](https://discord.com/channels/629472241427415060/683317077423292582/797329509564809216)

## Describe the bug

When triggering a reflex on a text input from a page that has multiple inputs with the same name attribute value the element's value is always reported as blank in the reflex action.

It has been

[2021-01-10 11:36] #425 closed

[2021-01-13 23:46] jonatassalgado opened #428 "dispatchEvent before morph in reflex actions"
# Bug Report

## Describe the bug

`dispatchEvent` before `morph` mostly for same reflex in sequence (or not). This occured after I upgraded from 3.3.0 version. I adjust stimulus `targets` to new implementation and remove code as described here in [setup#upgrading-to-v-3-4-0](https://docs.stimulusreflex.com/hello-world/setup#upgrading-to-v-3-4-0)

## Expected behavior

`dispatchEvent` after `morph

[2021-01-14 02:49] leastbad commented on #428
Hi there! I'm sorry you're having troubles. Could you please prepare an MVCE from the harness project linked in the SR readme so that we can clone, run and fix the issue on our local machine?

We need to be able to interact with code that is breaking to be able to do more than guess or make general suggestions - and have no doubt, we really want to help you fix this.

[2021-01-14 20:42] jonsgreen opened #429 "Installer can insert session_store config in wrong place"
# Bug Report

## Describe the bug

The install rake task currently makes a [hard coded assumption](https://github.com/hopsoft/stimulus_reflex/blob/master/lib/tasks/stimulus_reflex/install.rake#L54) about where to add a line in the development.rb config. If however someone has altered that file (e.g. using `Style/FrozenStringLiteralComment` with rubocop which adds magic statement `# frozen_string_l

[2021-01-15 11:15] ukdave opened #430 "Form serialisation does not escape input values"
# Bug Report

## Describe the bug

Form serialisation does not escape input field values.

Form input fields containing `&` and `%` characters can cause values to be truncated when accessing the params in the reflex, and can also trigger `Rack::QueryParser::InvalidParameterError - invalid %-encoding` errors.

## To Reproduce

Create a simple form that submits to a reflex and enter a & or % charact

[2021-01-15 13:59] marcoroth commented on #430
Hey @ukdave. Thanks for reporting this issue with providing a working app to reproduce the issue! ❤️

After looking into this, I think this issue might have been solved with #418.

Can you try to point your StimulusReflex gem and npm package to master and to see if the issue persists? Thank you!

https://docs.stimulusreflex.com/hello-world/setup#running-edge

[2021-01-15 15:05] ukdave commented on #430
Thanks @marcoroth. I can confirm that the issue is fixed when I switch the gem and npm package to master 🙂

Apologies, I did check the closed issues but didn't see #418.

[2021-01-15 17:55] leastbad commented on #430
@ukdave I very much wish that all folks reporting issues would provide as much information and explanation as you do. Kudos!

[2021-01-15 17:55] #430 closed

[2021-01-18 00:05] leastbad commented on #428
Just let me know when it's ready. 💙

[2021-01-20 14:02] jonatassalgado commented on #428
@leastbad It is a conflict with view_component_reflex and my application 😞 , I removed it in the application (I was testing it with new features) and everything worked perfectly. I will close this issue here and I will perform MVCE in view_component_reflex repository.

Grateful for the attention! You from the stimulus community (reflex, view_component_reflex) are doing an excellent job for the Rai

[2021-01-20 14:02] #428 closed

[2021-01-20 15:30] leastbad commented on #428
Thanks John! Just let us know if something else comes up.

[2021-01-24 05:11] leastbad commented on #429
Thank for raising this concern. We're on it!

[2021-01-26 09:23] julianrubisch commented on #429
We could snatch a bit of code from Hotwire: https://github.com/hotwired/turbo-rails/blob/main/lib/tasks/turbo_tasks.rake#L1

I think this is solved pretty well, running an `rails app:template` in the installer, thus being able to run Thor actions.

That would be a bigger rewrite though, but I assume it could pay off?

[2021-01-26 09:35] leastbad commented on #429
My suggestion is that we resolve this issue and fix the specific concern @jonsgreen located. We can then create an issue for a new and improved re-write for the next major release. This is precisely the wrong time to go deep on bike shedding when the script has 99% been working well. Even 429 hasn't been spotted failing in the wild! So far as I know, Jon is just eagle-eyed and prioritizing reading

[2021-01-26 17:10] jonsgreen commented on #429
No eagle eyes. I actually bumped into it on our latest project and so I thought I would report it.

[2021-01-26 23:29] marcoroth commented on #419
This should be solved via #421.

[2021-01-28 03:27] leastbad opened #433 "SR+CR version checks on startup in development"
Desktop software gets version updates. Hardware gets firmware updates. Web apps just need to be refreshed.

We get a ton of support requests for people who don't check to see if their version is out of date.

What if StimulusReflex and CableReady each checked their version against a file hosted on GH when the app starts up, as an extension of the sanity check process?

Obviously lots of implementa

[2021-01-31 04:47] shubik22 opened #435 "SR strips out @click attribute from elements passed to selector morph"
# Bug Report

## Describe the bug

I came across this issue when passing HTML with an Alpine.JS @click attribute to a selector morph.

A simplified example:

[code]

The HTML received by the client was `"<div true></div>"`.

I believe this is due to [these lines](https://github.com/hopsoft/stimulus_reflex/blob/57f455361184a910691c6a59426b96bc1dd686d9/lib/stimulus_reflex/broadcasters/selector_broad

[2021-01-31 07:22] leastbad commented on #435
Hi Sam!

Thanks for bringing this to our attention. 'coupla things:

1. Strongly recommend that you update to SR v3.4.1 and CR v4.5.0 as they are really great, and there's no good reason to keep running a pre-release build.
2. I don't know if you saw but we added a whole section on customizing CableReady#morph, with specific reference to Alpine: https://cableready.stimulusreflex.com/customization#

[2021-02-01 23:27] hadees opened #437 "When devise uses `timeoutable` there is a session error authenticating a stimulus web socket."
# Bug Report

## Describe the bug

When using `devise` with `:timeoutable` enabled via `devise :database_authenticatable, :timeoutable` warden throws an error trying to access the session to check `last_request_at`.

## To Reproduce

Follow the directions for setting up devise with `StimulusReflex`.

Then add `:timeoutable` to the list of devise modules enabled in the model, in my case `user.rb`

[2021-02-02 22:36] leastbad commented on #437
Hi Evan,

This is a new one for me!

First: I urge you to upgrade to SR 3.4.1. It won't fix your problem, but it's [so much better](https://docs.stimulusreflex.com/appendices/release-history#new-release-v-3-4-developer-happiness-edition). :)

I'm going to need a bit more information about when and where this error is happening:

1. The error mentions the update_cart! action method. Could you pleas

[2021-02-02 22:49] leastbad commented on #437
Here's how I would attack this...

https://github.com/heartcombo/devise/blob/master/lib/devise/hooks/timeoutable.rb

I would put a copy of `timeoutable.rb` in your `config/initializers`. Then on line 27, before `Devise.sign_out_all_scopes`, I would add this:
[code]

After you restart puma, you should see that any connections are disconnected if the user goes to a new page and is logged out due to

[2021-02-04 02:31] #419 closed

[2021-02-04 18:52] LukeClancy opened #443 "reflexData missing on element in beforeReflex"
# Bug Report

## Describe the bug

`element.reflexData` in JS beforeReflex callback seems to be missing in 3.4.1 and later. Temporary fix is to go back to 3.4.0. Here is the code that I noticed the problem on:

[code]
[code]
Note that it is still an issue in the `arena` controller if the `super` method is removed. Thanks for the help

## To Reproduce

Create a beforeReflex and attempt to get refle

[2021-02-04 19:55] shubik22 commented on #435
Thanks for the detailed reply @leastbad, point taken about passing invalid HTML.  Given an alternative solution exists (not using invalid HTML and using x-on:click instead), I'm happy to just close this issue and move on.  The one thing I'm wondering is if you think it makes sense to note somewhere in the docs that the HTML passed to morph must be valid HTML?  I'm happy to put out a PR doing that

[2021-02-04 20:47] leastbad commented on #435
Right on. 👍

We can't actually accept documentation PRs due to silliness with our documentation system, but I will see if I can work in something about how HTML has to be HTML. 😉

[2021-02-04 20:47] #435 closed

[2021-02-04 21:19] leastbad commented on #443
Yikes, I really thought we'd worked out all of the kinks with this functionality.

I'm sorry that you're having trouble here and I'm glad that v3.4.0 provides a workaround. I will be digging in on this shortly.

[2021-02-05 00:11] leastbad commented on #443
Hey Luke,

I have a working theory about the change you're seeing which I'd like you to investigate before I go searching for glasses that are on my face!

First, please give this a [re-]read: https://docs.stimulusreflex.com/rtfm/reflexes#understanding-stimulusreflex-controllers

v3.4.1 fixed a major problem that had been present in previous versions, which is that if the meta-data associated with

[2021-02-05 01:09] LukeClancy commented on #443
Hey Leastbad

That solved it! From my understanding, it looks like reflexData was moved as it could not be reliably connected to the element that started the reflex. From 3.4.0 to 3.4.1, in callbacks, reflexData moved from "element" to to "this.element". This also makes sense as reflexData is a list of many reflexes. So from a object-oriented perspective it should be with the parent data-controlle

[2021-02-05 01:09] #443 closed

[2021-02-05 02:12] leastbad commented on #443
I'm thrilled that you got sorted. And yeah, CableReady in particular is amazing for infinite UIs.

It's always tricky when the correct answer is to do what should have been done all along. After all, why would the button you clicked on be so important, right? It's very common for SR devs to put the SR controller on a container element that contains multiple rows of data. That way, if those rows co

[2021-02-05 21:20] shubik22 commented on #435
Awesome, thanks so much.

[2021-02-06 23:52] leastbad commented on #437
Hey @hadees, could you let me know how it went with my suggestions? I don't want to leave you hanging!

[2021-02-07 00:14] leastbad opened #446 "ActiveRecord queries and associations are cached, leading to non-idempotent Reflexes"
# Bug Report

## Original pretense:

If you run a page morph reflex multiple times, any lazy-loaded associations in the controller action are cached, even if the data is mutated in the Reflex action. This has the unfortunate effect of making it seem like the data isn't changing, even though it is.

## To Reproduce

[code]

[code]

[code]

The issue can be mitigated by forcing the controller to re-

[2021-02-09 08:57] RolandStuder opened #452 "iFrame gets refreshed despite data-reflex-permanent"
# Bug Report

In some cases iframes get refreshed when they shouldn't. This happens when sibling nodes get added / removed to a parent element of an iframe.
* The content is respected not change, but some aspect of the element/node is touched which makes the iframe reload. See last minute of the video below.

## To Reproduce

MVCE
https://github.com/RolandStuder/stimulus-reflex-morph-ifram-bug

##

[2021-02-09 11:34] RolandStuder commented on #452
Might be this issue here: https://github.com/patrick-steele-idem/morphdom/issues/200

[2021-02-09 22:17] existentialmutt opened #453 "Page morphs fail to refresh (blank operations hash) in Safari/Edge on staging"
## Describe the bug

When my app is running on staging and production, and browsing with Safari (13.0.5) or Edge (88), page morphs fail to update the page.  Looking at the websocket messages, I see the reflex coming back from the server with a blank cableready operations hash.  This doesn't happen in other browsers, with selector morphs in Safari and Edge on staging, or in any browser running the

[2021-02-09 22:39] existentialmutt commented on #453
As soon as I asked I figured it out.  We have HTTP_BASIC authentication on the staging site and those browsers weren't sending credentials.  Fixed it by disabling the `authenticate_or_request_with_http_basic` before filter if `@stimulus_reflex` is true.

[2021-02-09 22:40] #453 closed

[2021-02-09 22:57] leastbad commented on #453
I'll add this to the troubleshooting page! Sorry that you were having troubles.

[2021-02-10 06:39] asyraffff opened #455 "Link for "read more about why we enable caching here" is broken"
# Bug Report

In [setup](https://docs.stimulusreflex.com/hello-world/setup) documentation,
I try to open the link in "**You can read more about why we enable caching here**." at here ;

![Screenshot 2021-02-10 at 14.25.29.png](https://cdn.hashnode.com/res/hashnode/image/upload/v1612938462033/oKoaVHBgb.png)

It will direct me to this [page](https://app.gitbook.com/@stimulusreflex/s/stimulusreflex/~

[2021-02-10 07:02] leastbad commented on #455
Thanks so much, Amirul! I just pushed a fix, now.

More importantly, let me know if the explanation makes sense to you!

[2021-02-10 07:02] #455 closed

[2021-02-12 07:01] leastbad commented on #452
I've been working on this about 40 hours now, and I've sadly made zero real progress. I've asked for help from @snewcomer but he's likely very busy with @snewcomer things. This might just need to be documented as a warning so that I can move on with my life.

[2021-02-27 22:41] shubik22 opened #459 "Uncaught exception when morph removes controllerElement"
# Bug Report

## Describe the bug

When a reflex invocation results in the controller element being removed from the page, the serverMessage function, invoked by a `stimulus-reflex:server-message` event, will result in an uncaught exception:

[code]

## To Reproduce

A simple reproduction:
1.  Create a div with id "replace-me"
2. Add a button inside the div with data-reflex="TestReflex#reproduce_e

[2021-02-28 04:34] leastbad commented on #459
Hey Sam! Thanks so much for filing this.

I am having trouble reproducing this issue, however. We put a huge amount of effort into making this problem go away, so I'm surprised to see it still happening in v3.4.1.

https://github.com/leastbad/stimulus_reflex_harness/tree/reproduce_459

I created a branch on the harness project and implemented your reproduction steps (90% faithfully - I used differ

[2021-02-28 18:27] hopsoft commented on #446
This is likely due to referencing objects delegated to the ActionCable connection, perhaps `current_user` etc...

The socket connection is persistent between reflexes; however, when a reflex message is pushed to the server from the client over the socket, the following things happen.

1. [A new reflex instance is created to respond to the message](https://github.com/hopsoft/stimulus_reflex/blob/05

[2021-02-28 18:50] julianrubisch commented on #446
I was just trying to wrap my head around this when @hopsoft nailed it 👏

Anyway, now that it’s mentioned here I think I’ve met this in the past in some of my apps, but never bothered me too much.

As for mitigation strategies, I’d go for providing a manual method of flushing things, if possible. The question is, if we can get hold of _all_ instances that are hanging off `Connection`, else I’d just

[2021-02-28 21:10] hopsoft commented on #446
My vote is for documentation. Perhaps we can show folks how to initialize things like current_user on the reflex instance or maybe recommend a reload for anything hanging on the connection in a before_reflex callback.

[2021-02-28 21:15] leastbad commented on #446
This makes a lot of sense! Let me say it back in my own words so I can be confident that we're all on the same page...

The only objects which persist across multiple reflexes (and presumably ActionCable callbacks, which I've never seen used in the wild) are relations + associations that are part of the Connections `identified_by` Set.

If a Reflex - or a controller called by a Page Reflex - happe

[2021-03-01 11:05] jonsgreen commented on #446
Thanks everyone for digging into this issue. I think that just adding to the documentation including an example of how to bust the cache with a `current_user.reload` would be more than sufficient.

I suppose if this becomes a common problem that people start reporting more frequently then as others have suggested the library could by default and/or with configuration reload all ActiveRecord object

[2021-03-01 17:13] shubik22 commented on #459
Thanks for the response and apologies, I realized I didn't accurately describe the reproduction steps.

I was able to reproduce the issue with your repo by making a slight modification.  Instead of calling morph, the error is caused by broadcasting an inner_html operation via cable_ready.  [This repo](https://github.com/shubik22/stimulus_reflex_harness/tree/reproduce_459) has the correct setup.

H

[2021-03-01 22:46] leastbad commented on #459
Hey Sam,

I'm chuckling because as you acknowledged, this an entirely different problem than what you originally described. It's not a use case that we'd covered since people usually do use Selector Morphs for this kind of thing.

However, I agree that this shouldn't generate an error. I'm going to make a small change and then accept your PR.

Thank you for spotting this!

[2021-03-01 22:47] #459 closed

[2021-03-01 23:18] shubik22 commented on #459
Thanks very much and apologies for the inaccurate original report!

[2021-03-02 01:51] leastbad commented on #446
Believe me, I thought about it!

However, now that we know what's happening and how to fix it, I sort of like that we can shift from seeing this as a bug to a feature. It means that the most frequently referenced accessor has the option to take advantage of cached results.

It's entirely reasonable to consider this a performance optimization that you can opt-out of at any time.

I have updated the

[2021-03-02 01:51] #446 closed

[2021-03-03 08:54] jordano159 opened #463 "Reflex replaced with a new instance for some reason"
# Bug Report

## Describe the bug

When creating a simple nothing morph, i've encountered "StimulusReflex detected that the StimulusReflex Controller responsible for this Reflex has been replaced with a new instance. Callbacks and events for "nothing" or later life-cycle stages cannot be executed."
I couldn't figure out what was the problem, and right now I can't use the reflexSuccess method.

my

[2021-03-03 09:30] leastbad commented on #463
Hey, usually the fastest way to get support is to drop by the [Discord](https://discord.gg/stimulus-reflex) with a link to a git repo that reproduces the issue so we can test it on our local machines. The fastest way to get up and running with a MVCE is to clone https://github.com/leastbad/stimulus_reflex_harness and just add enough code to break it.

Usually, I'd recommend re-reading https://docs

[2021-03-05 13:34] jsalik opened #465 ""No route matches" in production"
# Bug Report

## Describe the bug
[code]
![image](https://user-images.githubusercontent.com/6525630/110124396-5221b400-7dc2-11eb-8880-3407ea0de2f8.png)

## To Reproduce
In development environment everything works ok, but after deployment, in production errors occurs:
Maybe there is additional configuration needed?

## Versions
- Gem: 3.4.1
- Node package: [e.g. 2.0.1]

### External tools
- Ruby: 2

[2021-03-05 14:11] leastbad commented on #465
Hi Jarosław,

Could you verify that your SR gem + npm is 3.4.1 please? 4.3.1 isn't out yet. :wink:

Are you using `acts_as_tenant` or another gem that might be using Rack middleware to modify the URLs Rails receives behind the scenes? https://docs.stimulusreflex.com/hello-world/setup#rack-middleware-support

[2021-03-05 14:32] jsalik commented on #465
Sorry, it's 3.4.1 of course.
`{
  "name": "xxx",
  "private": true,
  "dependencies": {
    "@rails/actioncable": "^6.0.0",
    "@rails/actiontext": "^6.0.3-4",
    "@rails/activestorage": "^6.0.0",
    "@rails/ujs": "^6.0.0",
    "@rails/webpacker": "4.3.0",
    "animate-sass": "^0.8.2",
    "bootstrap": "^4.5.3",
    "bootstrap-select": "^1.13.18",
    "i18n-js": "^3.8.0",
    "jquery": "^3.5.1"

[2021-03-05 14:41] leastbad commented on #465
Hi again,

A simple "yes" would have been fine! lol

Let me know if you have read and understood the documentation on enabling Rack middleware for your Page Morphs.

[2021-03-05 14:48] jsalik commented on #465
Well, i think so :) I'm not using any gems like acts_as_tenant or apartment where aditional rack middleware is needed and i'm not using my own middlware, that't why i'm stack with this error

[2021-03-05 15:04] leastbad commented on #465
Does it run in the production environment on your local machine? `RAILS_ENV=production rails s` I think.

There is no particularly good reason for it to stop working in production. Feel free to clone https://github.com/leastbad/stimulus_reflex_harness and provide a reproduction, or you can share a link to your repo and we can check out what might be going wrong. Otherwise I'm just guessing.

At th

[2021-03-05 16:03] jsalik commented on #465
I checked production enviroment on my local machine and it works! So you are right, i'ts not related to production itself

[2021-03-05 16:12] leastbad commented on #465
Well, in that case I'm going to close this issue for now. Please do report back if you figure out what was going on in your hosting environment. FWIW SR is widely deployed without issue, so I'm confident that you'll crack the code.

[2021-03-05 16:12] #465 closed

[2021-03-08 08:02] jsalik commented on #465
Hi again, it turned out that i was missing:
`proxy_set_header Host $http_host;`
in nginx vhost configuration.

[2021-03-08 08:19] leastbad commented on #465
That's really useful intelligence! What section does that get set in?

[2021-03-08 08:41] jsalik commented on #465
In location entry, for exmaple:
`server {
  listen 80;
  server_name example.com;
  location / {
    ...
    proxy_set_header Host $http_host;
    ...
  }
}`

[2021-03-12 17:41] leastbad opened #468 "Warn developers about example.com"
# Feature Request

If you don't set your environment's URL options, generated URLs will contain `example.com` which is only handy if you're working on the new example.com.

## Is your feature request related to a problem?

This [comes up frequently](https://discordapp.com/channels/629472241427415060/697872530475843615/819962383475802112) on Discord, even though it is documented: https://docs.stimu

[2021-03-16 14:51] jonsgreen opened #471 "Lost Instance Variables"
## Describe the bug

Calling controller in a before_reflex keeps instance variables set in the reflex from being accessible in the view. Discord conversation [here](https://discord.com/channels/629472241427415060/733725826411135107/821352741020368907).

## To Reproduce

Here is an MVCE to demonstrate the behavior: https://github.com/jonsgreen/stimulus_reflex_input_bug/tree/lost-instance-variables-

[2021-03-17 22:14] scottbarrow opened #473 "Re-assignment of constant `reflexRoot`"
# Bug Report

_Please help us help you by filling out any applicable information in this template and removing the rest!_

## Describe the bug
upon upgrading to vite-rails, it has identified a constant reassignment

## To Reproduce
Install vite-rails

## Expected behavior

No errrors

## Screenshots or reproduction
<img width="1152" alt="Screen Shot 2021-03-17 at 2 51 39 PM" src="https://user-imag

[2021-03-18 01:44] #473 closed

[2021-04-08 18:23] shepmaster opened #487 "Nokogiri usage to process HTML adds whitespace nodes, causing unneeded morphdom updates"
Stimulus Reflex uses `Nokogiri::HTML` to parse the rendered output of the Rails controller and selects a fragment of the HTML using a CSS selector:

https://github.com/hopsoft/stimulus_reflex/blob/ae318edc1e96d531daf420db6e715d76bf24e90c/lib/stimulus_reflex/broadcasters/page_broadcaster.rb#L11-L15

These fragments are then sent across a WebSocket to the browser where they are handed to morphdom an

[2021-04-08 18:26] shepmaster commented on #487
A [Nokogiri maintainer said](https://discord.com/channels/518658712081268738/788748516352458752/829456575889670175):

Some experimentation shows that libxml2 _should_ be capable of avoiding the whitespace:

[code]

[code]

(Using libxml2 2.9.10)

[2021-04-08 18:38] shepmaster commented on #487
One possibility would be to use some additional options when outputting the HTML

[code]

Namely, I've removed `FORMAT` from [`DEFAULT_HTML`](https://nokogiri.org/rdoc/Nokogiri/XML/Node/SaveOptions.html#DEFAULT_HTML-constant).

[2021-04-09 22:15] leastbad commented on #487
If you're able to give us a PR that tweaks our Nokogiri calls in such a way that this issue melts away, you'd be a hero!

[2021-04-09 22:34] shepmaster commented on #487
Yep, I hope to try it out in our real app then see that or case is fixed soon.

I don’t quite know how to write a test for this in the SR code base, *per se*; any suggestions?

[2021-04-16 19:54] lmatiolis commented on #487
Hi @leastbad, I was working with @shepmaster when this issue appeared, so I'll take a stab on finishing the fix he provided here.

I was able to confirm in our app that being explicit about not formatting works! It doesn't add any whitespace nodes with his change here:

https://github.com/hopsoft/stimulus_reflex/blob/f13a9a88b105296b56d2c0b464c5a1f241b2fa02/lib/stimulus_reflex/broadcasters/page_br

[2021-04-16 20:19] leastbad commented on #487
I really appreciate the additional detail, and I'll try (hard) to give this some attention over the weekend.

[2021-04-16 20:22] lmatiolis commented on #487
@leastbad No worries, I'll only get back to it on Monday. Just let me know the details about the tests and I should be able to get it on a PR next week. Thanks!

[2021-04-16 20:33] leastbad commented on #487
I'm at a disadvantage there because I'm not a testing expert. I'm more of a "try not to break the tests" expert.

[2021-04-16 20:42] lmatiolis commented on #487
Haha, that's also a good thing!

FWIW, the change that @shepmaster suggested doesn't break any test when I do `bundle exec rake test_ruby`, so there's that to begin with.

The changes I suggested to the test are just to prove first that we were indeed adding whitespace before but not anymore.

[2021-04-20 21:03] lmatiolis commented on #487
Hi, just wanted to mention that I've pushed the discussed changes to a branch to make it more easy to follow: https://github.com/hopsoft/stimulus_reflex/compare/master...lmatiolis:avoid-adding-whitespace

Thanks!

[2021-04-29 00:25] #433 closed

[2021-04-29 01:00] leastbad commented on #471
Hi Jonathan,

#493 should address this. If you have a second, let me know what you think!

[2021-04-29 01:02] leastbad commented on #463
Hi @jordano159! Can you confirm whether or not this issue was resolved by updating to the master branch?

[2021-04-29 01:36] #468 closed

[2021-04-29 07:31] #429 closed

[2021-04-29 09:35] #471 closed

[2021-04-30 00:14] leastbad commented on #452
@RolandStuder I think we should close this because it's an issue that can only be fixed in morphdom. 😿

I'm going to attempt to add something about this to the docs: https://docs.stimulusreflex.com/appendices/troubleshooting#iframe-gets-refreshed-despite-data-reflex-permanent

[2021-04-30 00:14] #452 closed

[2021-04-30 00:16] leastbad commented on #437
I don't like to close issues without knowing that they're resolved, but please know that we're here for you if this is somehow still a problem - we can always reopen later.

[2021-04-30 00:16] #437 closed

[2021-04-30 00:18] leastbad commented on #423
Isolation mode will be removed from v4, to become the standard functionality. Developers can use CableReady to build a better "non-isolated" experience today.

v3.5 will introduce Deprecation Warnings in development mode, and isolation is already on the list.

[2021-04-30 00:18] #423 closed

[2021-04-30 00:21] leastbad commented on #422
Form serialization will become opt-in in v4, a flip of default behaviour and breaking change from v3.x.

v3.5 will introduce Deprecation Warnings in development mode, and `data-reflex-serialize-form` is already on the list.

[2021-04-30 00:21] #422 closed

[2021-04-30 00:41] leastbad commented on #463
Happy to re-open if you can give more information!

[2021-04-30 00:41] #463 closed

[2021-04-30 20:26] #487 closed

[2021-05-10 11:59] pgaspar opened #502 "Logging issue when using Morphing Multiplicity with Symbol keys"
# Bug Report

## Describe the bug

After a recent change in our codebase we started noticing a series of interesting errors in production:

[code]

(`#foo-bar` is an example ID here). After some investigation, we found the issue came from a morph call where we pass in a Hash with symbol keys as the argument, as described by the [Morphing Multiplicity](https://docs.stimulusreflex.com/rtfm/morph-mod

[2021-05-10 17:35] marcoroth commented on #502
Hey @pgaspar, thanks for filing this detailed issue. ❤️

I can reproduce what you are describing.
It seems like if we append a `to_s` at the end of the [`selector`](https://github.com/hopsoft/stimulus_reflex/blob/630b1b858ed55dee237d65942146fe6ffbc94f8f/lib/stimulus_reflex/utils/logger.rb#L56) method that it then works as expected.

[code]

Are you up to open a pull request to fix this?

[2021-05-10 19:10] pgaspar commented on #502
No problem! I'm glad this led to a deeper fix 😊 Thank you!

[2021-05-10 19:15] leastbad commented on #502
This should get merged into master branch tonight.

[2021-05-22 22:18] leastbad opened #508 "Sanity checker should not abort stimulus_reflex install task"
# Bug Report

## Describe the bug

Upon running `rake stimulus_reflex:install`, the sanity checker module aborts with the message about: "StimulusReflex strongly suggests that you set default_url_options in your environment files."

## Expected behavior

This shouldn't happen.

## Versions

### StimulusReflex

- Gem: 3.5.0.pre0
- Node package: 3.5.0-pre0

[2021-05-24 08:51] christopheragnus opened #511 "Web Components Breaking In Stimulus Reflex Morph"
# Bug Report

## Describe the bug

Hey, I have encountered a bug in my view. Whenever I try to morph a partial containing Ionic Framework Web Components, the component within the morph tags is blank.

## To Reproduce

So, I want the current list of alerts to be updated from the DB when a new alert has been successfully created in the Rails controller.

index.html.erb
[code]

_alerts_list.html.erb

[2021-05-24 09:00] mleszcz opened #512 "How to (better) use Stimulus Reflex with Cypress?"
We use SR in our Rails app. We use cypress as e2e testing framework.
Cypress doesn't handle action cable's requests. We had to handle it manually like this:
[code]

That works pretty good.

1. We'd like to check if there any other (better) way to handle SR in Cypress?
2. If NO :) then we'd like to improve above `reflex` method and somehow get rid of `wait(50)`. The reason it's there is that it tur

[2021-05-24 11:09] leastbad commented on #512
Hi Mateusz! This is a valid concern, but it's not an *issue*.

This seems like something worth discussing on [Discord](https://discord.gg/stimulus-reflex), no?

[2021-05-24 11:17] leastbad commented on #511
I'm not familiar with Ionic, but it sounds like it might be modifying the DOM after the page loads. This conflicts with the `morphdom` library's primary mechanism, which changes the state of the page to reflect what the server thinks it should look like. This all lines up with the main goal of StimulusReflex, which is to maintain all state on the server.

You have a few options:
- use Selector Mor

[2021-05-24 12:08] marcoroth commented on #511
Hey @christopheragnus, thank you for reporting this issue.

We had a similar issue with Alpine some time ago in #329.

Alpine provides a function which reinitializes all components which are not initialized:
[code]

If something similar exists in Ionic you could call that function in a client-side `afterReflex` callback in your Stimulus ApplicationController to reinitialize the ionic components.

[2021-05-24 12:19] leastbad commented on #511
If Ionic does have something similar to Alpine's `discoverUnitializedComponents` method, you can find documentation on how to set up CableReady to accomodate Ionic here: https://cableready.stimulusreflex.com/customization#shouldmorph-callbacks

[2021-05-26 16:53] RolandStuder commented on #508
@leastbad maybe I will have some time to tackle this until Friday.

[2021-05-26 21:11] marcoroth commented on #508
Hey @RolandStuder, check out the comment here: https://github.com/stimulusreflex/stimulus_reflex/pull/510#discussion_r637619224

Maybe you can still help to get this sorted, thank you!

[2021-05-27 03:30] leastbad commented on #508
I'm not 100% confident that my solution is the best solution. In fact, it's a total hack - I'm plagued by the feeling that there's an obvious way to do this that just isn't landing. I would have 100% assumed the `ARGV` thing would work, but as wild as it seems there's no apparent way to retrieve the command that executed the current process.

Actively hoping someone steps in with a clever take.

[2021-06-01 02:32] leastbad commented on #511
Hi @christopheragnus, could you let us know how you're making out with this issue?

Our first priority is to make sure that you got your application working. Our second priority is to close inactive issues. ;)

[2021-06-01 02:32] #512 closed

[2021-06-03 22:27] leastbad commented on #435
Hey Sam, I almost forgot: there's a non-zero chance that https://github.com/stimulusreflex/stimulus_reflex/pull/492 might have fixed this issue. YMMV! Clearly, you succeeded regardless. 🥇

[2021-06-07 00:20] christopheragnus commented on #511
Hey there, I managed to fix it by using .replace() like below. It sees to reinitialize Ionic when I do this. Its still happening if I use morph().

[code]

[2021-06-07 01:52] leastbad commented on #511
I'm glad that you got it working, but a complete replacement shouldn't be necessary. Reinitializing should be a last resort.

Were you able to find the equivalent of Alpine's `discoverUnitializedComponents` method? That would help us help other Ionic users in the future.

[2021-06-07 06:51] christopheragnus commented on #511
I double-checked the Ionic Framework APIs but there doesn't seem to be a fix similar to Alpine's `discoverUnitializedComponents` method. I took a look here: https://github.com/ionic-team/ionic-framework/issues/22821

[code]

My current workaround is adding `class="hydrated"` if it is just doing a morph - but it doesn't work if for the above example.

[2021-06-07 09:22] leastbad commented on #511
Well, that's a shame... but hey - you got it working! That's awesome.

I'm going to close this issue, but definitely let us know if you ever find a way to make things easier for Ionic users.

[2021-06-07 09:22] #511 closed

[2021-06-14 19:24] lukasedw opened #520 "HAML code with form tag connect controller twice"
# Bug Report

GitHub application: https://github.com/lukasedw/twice-stimulus

## Describe the bug

When you have a form before the controller div using HAML, the stimulus controller is called twice when action-reflex is triggered.

## To Reproduce

Using the application go to /foo/index_haml and open the console, the controller 'example' shows log 'Connected', after clicking 'Go!', 'Connected' log

[2021-06-14 23:34] leastbad commented on #520
Hi Lukas! Thanks for reporting this. I can confirm that I am seeing the behaviour you describe... and I am indeed a little confused, but I'll share what I can see. Note that this is 100% a Haml problem, but since it's impacting your attempts to work with SR, we'll do what we can to help.

What's happening is that morphdom is deciding the `#example` div is being modified, even though so far as I ca

[2021-06-15 00:20] ParamagicDev commented on #520
I can confirm I see it disconnecting then reconnecting. But only on the first reflex. All subsequent reflexes do not trigger disconnect + reconnect.

[2021-06-15 02:13] existentialmutt commented on #520
fwiw I checked view source on a HAML/SR app I run and noticed I'm also getting those `click-&gt;` in data-reflex / data-action attributes.  I haven't seen any ill-effects from that but the app also uses selector morphs.

[2021-06-15 03:11] leastbad commented on #520
Regardless of the Stimulus reconnect situation, it is deeply strange that Haml emits `&gt;` in this way... presumably, that's just one of many substitutions.

1. It's clearly converted to `>` by the time it hits the DOM, as evidenced by the Element Inspector.
2. Why aren't other Haml users seeing this?

The issue isn't so much that running `connect` again is potentially undesirable (but often coul

[2021-06-15 07:06] RolandStuder commented on #520
This is our old friend called "differences in whitespace", morphdom gets confused when there are differences in whitespace, as whitespace adds/removes textnodes that weren't there before, therefore confusing morphdom about how to morph some stuff, it thinks is has new nodes therefore replaces some nodes unnecessarily.

But good news: This is fixed in `3.5.0.pre1`, so just update to the prerelease

[2021-06-15 18:56] #520 closed

[2021-06-16 05:05] Laykou commented on #463
After upgrading from 3.4.0 (which was created following the documentation on https://docs.stimulusreflex.com/hello-world/setup) to 3.5.0.pre1 I started to get the same error.

Before I dive into creating a simplified repository for this I wanted to understand what is the concept behind `warned` attribute?

I was not able to find it anywhere else in the code:

![image](https://user-images.githubuse

[2021-06-16 05:16] leastbad commented on #463
Hi @Laykou I would be happy to answer your questions on [Discord](https://discord.gg/stimulus-reflex), as your questions are valid but unrelated to #463.

[2021-06-25 15:41] ineluki00 opened #525 "Calling Reflex with data-action and data-reflex-dataset='combined' send combined dataset with event.currentTarget only"
# Bug Report

## Describe the bug

Documentation states that we can pass parent data-attributes to children with data-reflex-dataset='combined' through a reflex call, which works (1°).
But as i need a confirmation to be performed before stimulating the server, i need to use a stimulus controller.
So i followed [combined-data-attributes-with-stimulate](https://docs.stimulusreflex.com/rtfm/reflexes#

[2021-06-25 16:31] leastbad commented on #525
Hi again, I am impressed with how thorough your filings are.

First, I think you should strongly consider running SR v3.5.0.pre1. It has https://github.com/stimulusreflex/stimulus_reflex/pull/478 which I suspect you'd enjoy.

I admit that it's been a long time since I thought about this scenario, and it's complicated by the fact that we've since put a lot of effort into restructuring it (as you se

[2021-06-29 03:02] leastbad commented on #525
Were you able to resolve this issue?

[2021-06-29 12:34] ineluki00 commented on #525
Hi, thanks for your answer, it currently works with event.currentTarget and data-reflex-dataset='combined', which is enough for my needs for the moment, as i am moving on another software implementation which is currently an angular + ror app, for which i won't use SR. But when this one will be done i'll come back to look at SR for a more in-deep refactoring. And effectively #478 seems really inte

[2021-06-29 12:41] #525 closed

[2021-07-19 02:25] #508 closed

[2021-07-22 12:39] lenku05 opened #533 "Stimulus reflex not working making server to stop on ruby on rails"
i was working on a blog website and i was trying to make my button publish otherwise unpublish but when i ran the server its stops by itself bring me a bunch of lines shown below

[code]
this is my edit.html.erb code
[code]
and this is my publisher_reflex.rb
[code]

[2021-07-22 16:31] leastbad commented on #533
Hey there! The stack trace you're seeing suggests that your Rails app is having trouble connecting to your Redis server. What it doesn't tell me is which instance of Redis is failing - but if I had to guess from the reference to SubscriptionAdapter, it's most likely the one defined in `config/cable.yml`.

Bigger picture, I strongly recommend that you consider doing your development inside of a WSL

[2021-08-01 07:08] lenku05 commented on #533
Thank you but i have install rails in wsl2 version 18.04 but when i run rails server  run the same rails project its telling me
 `-bash: /mnt/c/Ruby30-x64/bin/rails: ruby: bad interpreter: No such file or directory`

[2021-08-01 07:57] leastbad commented on #533
Hi again,

It's really hard to help when I don't have access or real visibility to how you have your system set up. It's (very) good that you installed WSL2, but what you're describing is that the Ubuntu VM is attempting to run a Windows version of Ruby from inside Ubuntu.

Your first order of business is to install either rvm https://github.com/rvm/ubuntu_rvm or rbenv https://github.com/rbenv/rbe

[2021-08-01 10:11] lenku05 commented on #533
Thank you im up and running in wsl2 after bundle install and installing redis

[2021-08-01 10:14] leastbad commented on #533
Awesome! Feel free to drop by the [StimulusReflex Discord](https://discord.gg/stimulus-reflex) for help.

[2021-08-17 11:17] lenku05 commented on #533
My publish and unpulish button is still not working im geting an error in the console
`stimulus_reflex.js:328 Uncaught TypeError: Cannot read property 'schema' of undefined`

[2021-08-17 11:18] lenku05 commented on #533
My publish and unpulish button is still not working im geting an error in the console
`stimulus_reflex.js:328 Uncaught TypeError: Cannot read property 'schema' of undefined`

[2021-08-17 11:23] leastbad commented on #533
@lenku05, this is not a support channel.

Please come ask for help in [Discord](https://discord.gg/stimulus-reflex).

[2021-08-17 11:23] #533 closed

[2021-08-19 12:13] Danilodum opened #539 "The ActionCable channel subscription for StimulusReflex gets rejected when interacting too fast"
I'm looking for some pointers on how to solve the following error from occurring when users interact with the page too fast after load

[code]

Where do I look for the cause of the rejection, can I implement retries on the client or something?

[2021-08-19 17:41] leastbad commented on #539
Hello, Danilo!

We provide 24/7 support via [Discord](https://discord.gg/stimulus-reflex), where we'd be happy to talk you through this.

GH Issues is not a support channel. 💙

[2021-08-19 17:41] #539 closed

[2021-08-22 02:27] leastbad commented on #539
@Danilodum I just wanted to check in because I don't know your Discord handle if you have one.

We don't want to leave you hanging, just not to use Issues to ask for help with your app.

[2021-08-22 20:22] Danilodum commented on #539
❤️

I connected with jonathan-s/argparse about this in the sockpuppet channel, still working on getting him a repro, I think I'm in good hands, thank you

[2021-08-25 16:54] westoj opened #540 "Controller action being re-run is different from expected."
## Describe the bug

I'm not sure if this is by design or not, however:

When using stimulus reflex on a standard rails form and the object fails validation, stimulus reflex seems to re-run the controller action based on the GET equivalent of the URL of the form's POST request.

Essentially if you have a view with a form with stimulus reflex somewhere on that template and follow a typical rails pa

[2021-08-26 07:56] julianrubisch opened #541 "Allow to skip stages in the generator"
# Feature Request

When running the generator, you should be able to skip various stages, such as generating a stimulus controller, patching the `ApplicationReflex` or the `application_controller.js`

## Describe the solution you'd like

`bin/rails g stimulus_reflex --skip-stimulus --skip-application-reflex ...`

[2021-09-02 06:31] #541 closed

[2021-09-02 18:30] julianrubisch opened #544 "Do not import controllers in installer when already present"
# Bug Report

## Describe the bug

The installer might add an additional `import "controllers"` in `app/javascript/packs/application.js` when one is already present.

## Expected behavior

There should be no duplicate imports.

[2021-09-02 20:40] leastbad commented on #544
Could you explain further? Is there a line number?

[2021-09-29 08:35] jusondac opened #551 "Module not found: Error: Can't resolve 'stimulus'"
I've this problem when I run
```bundle add stimulus_reflex```
and then, showing
[code]

I was ignore that, because I'm following the instruction on youtube video. And then,  I run
```rails stimulus:install```
, and notice before get disappear.

When I tested, create a little code to trigger the method on exampleReflex. it doesnt works.
And I look up into server, and he tell me this.
[code]

Hope i

[2021-09-29 08:56] marcoroth commented on #551
Hey @jusondac

This is an issue with the new Stimulus 3 release. I'm working on a fix to prevent that in the feature.

There is a workaround for now: Please try to set your `stimulus` dependency to `^2.0.0` and run `yarn install` again.

Let me know if you run into any other issues. If so, it's probably easier to jump on Discord and discuss there. Thank you!

[2021-09-29 09:29] jusondac commented on #551
Alright, thank in advance @marcoroth , I'll be back for confirmation

[2021-09-29 09:37] jusondac commented on #551
@marcoroth its works!, thank you very much!!!

[2021-10-06 21:40] omairrazam opened #552 "Rails 7 Alpha Incompatibility"
I had a fresh Rails 7 Alpha install - when i ran the server I faced this error `Uncaught TypeError: Failed to resolve module specifier "stimulus_reflex". Relative references must start with either "/", "./", or "../".`

I was using default import_maps feature of rails that is a replacement of webpacker. It seems like Stimulus reflex is not compatible with latest Rails version.

I used this blog to

[2021-10-07 03:01] leastbad commented on #552
Hi Omair,

Rails 7 is in **alpha**, and the bundling ecosystem is in massive flux. While chasing the bleeding edge can be exciting, when you're supporting a large number of production applications, we owe it to our users to be extremely careful and thorough.

StimulusReflex will support all of the Rails 7 bundling options shortly after it launches.

In the meantime, we recommend that you use Webpa

[2021-10-07 03:01] #552 closed

[2021-10-12 20:20] LukeClancy opened #555 "reflex form parameter lists are uniqued"
# Bug Report

## Describe the bug

Hello, love stimulus reflex, it makes things so simple. This is the first issue I have had in months, and I can work around it, so no rush. When creating a parameter list in a form, each key and value is made unique. This removes functionality for repeated input. Compared to rails controllers, this is not regular functionality. Thank you for any help.

## To Repr

[2021-10-13 04:56] thewatts commented on #555
@LukeClancy saw your post in the Discord - while I don't know how to fix it, I understand what you're saying is happening.

I made a simple sample app that will demonstrate the issue directly.

https://github.com/thewatts/reflex-params-example

[2021-10-13 04:58] leastbad commented on #555
Thanks so much, @thewatts! This will be super helpful.

[2021-10-13 05:53] julianrubisch commented on #555
This invites a new test, I'd argue

[2021-10-13 11:13] #555 closed

[2021-10-23 05:16] pooriar opened #557 "2 Issues: Nonexistent Cable Ready operation selectors / data-reflex shorthand"
# Bug Report

## Describe the bug

Found 2 bugs while pairing with @marcoroth
1. If a reflex contains multiple CableReady operations and *some* of the operations have element selectors that don't exist on the page, then *none* of the operations in that reflex set will run.
2. The shorthand that lets you omit the `click->` in `click->Reflex#action` on buttons doesn't work. Leaving out the `click->`

[2021-11-18 12:21] pitosalas opened #562 "Unexplained error with basic scenario"
cable_ready 4.5.0
rails 6.1.4.1
ruby 3.0.2p107

This is a simple example from the basic tutorial (https://www.youtube.com/watch?v=F5hA79vKE_E) I suspect the error I am getting is because either cable_ready or rails evolved a little and created a tiny incompatibility.

I get this error in the JS console:

[![enter image description here][1]][1]

It is triggered when in my controller I ask cable rea

[2021-11-18 15:20] leastbad commented on #562
Hi there!

Can you please confirm the gem **and** npm package versions for both StimulusReflex and CableReady in your project?

Just to preview: each one needs to be an exact 1:1 match.

[2021-11-18 18:44] pitosalas commented on #562
I checked by looking at yarn.lock and gemfile.lock and they do match:

StimulusReflex 3.4.1 in both
CableReady 4.5.0 in both

[2021-11-18 20:53] pitosalas commented on #562
Thanks, sounds like it’s a solution!

But as I am not so sophisticated yet on the interactions between yarn, bundler, gems, rails etc. could you give me a more specific recommendation?

Pito Salas
Faculty, Computer Science
Brandeis University

[2021-11-18 22:40] leastbad commented on #562
No problem at all; we're happy to help.

Could you please attach or gist the following files:

Gemfile
package.json
app/javascript/packs/application.js
app/javascript/controllers/index.js

Note that I'm likely going to upgrade you to the latest and greatest, which is a very good thing. Lots of new features and bug fixes.

[2021-11-19 01:51] pitosalas commented on #562
Thanks I really appreciate it, as I've spent quite a bit of time on this. On the other hand I've learned a lot in the process...

I don't have a app/javascript/controllers/index.js file. I guess I was just following the tutorial and stopped when I found these errors. But here are the other two:

---

//application.js
// This file is automatically compiled by Webpack, along with any other files
//

[2021-11-19 01:52] pitosalas commented on #562
Whoops, forgot the gem file:

source 'https://rubygems.org'
git_source(:github) { |repo| "https://github.com/#{repo}.git" }

ruby '3.0.2'

# Bundle edge Rails instead: gem 'rails', github: 'rails/rails', branch: 'main'
gem 'rails', '~> 6.1.4', '>= 6.1.4.1'
# Use postgresql as the database for Active Record
gem 'pg', '~> 1.1'
# Use Puma as the app server
gem 'puma', '~> 5.0'
# Use SCSS for styleshe

[2021-11-19 03:36] leastbad commented on #562
Okay, let's do this!

`Gemfile`:
[code]
`package.json`:
[code]
At this point, you need to run `bundle` and `yarn`, then run the `rake webpacker:install:stimulus` task. The honest truth is that I don't know where things went wrong in the tutorial that you were following. I'm here to get you back on track today!

So once you've hopefully gotten your gems and packages up to date - it's okay to delete

[2021-11-19 03:38] leastbad commented on #562
I almost forgot: the instructions above half-remove the `spring` gem, which is the source of countless issues. Let's finish the job:

1. Run `pkill -f spring`
2. Edit your `Gemfile` and comment out `spring` and `spring-watcher-listen` (should already be done!)
3. Run `bin/spring binstub --remove --all`
4. Comment out the line in `bin/rails` which says: `load File.expandpath("spring", _dir)`

[2021-11-19 12:55] pitosalas commented on #562
Wow, thank you for taking all the time to write that up! I am wondering how stimulus reflex compares with / overlaps with the new hotwired stuff from DHH. Also it is confusing that the batches code was being invoked by the tutorial, even though the tutorial didn't (say that it) required the newest cable ready. In other words, if I re-do the tutorial but force the versions of cable ready and stimul

[2021-11-19 13:15] leastbad commented on #562
I am on the SR/CR core team, yes.

An excellent summary on how Hotwired and SR/CR interact is here: https://dev.to/hopsoft/rails-hotwire-cableready-and-stimulusreflex-are-bffs-4a89

The Twitter in 10 minutes video has an amazing legacy. It really woke people up to the possibilities of a reactive server-side solution based on Rails. However, it's over 18 months old at this point, and the libraries

[2021-11-19 13:59] pitosalas commented on #562
I can't thank you enough for your generosity in time and effort. If there was a tip jar I would use it!

Ok so I will stop worrying about it not working since I am fighting last years battle. It would be nice though if somehow the video can be deprecated or at least given a disclaimer banner in the front ("the concepts are correct but the detailed instructions don't work anymore" or something like

[2021-11-19 14:47] leastbad commented on #562
Amending YouTube videos - not a thing, so far as I know. Nate might be able to update the title and description, though... I'll bring it up with him.

https://courses.jasoncharnes.com/stimulus-reflex is excellent, though already a year behind (time flies!).

I honestly hope/believe/recommend that reading the docs should get you a long way. They are dense but well-written and comprehensive, hopeful

[2021-11-19 14:47] #562 closed

[2021-11-19 15:53] pitosalas commented on #562
Excellent advice.

The video is actually still on your home page though: https://docs.stimulusreflex.com

How do I get an invite to the discord channel? I am facing the question now of what to use. There is stuff that is officially supported parts of Rails (active cable) and packages who have a good chance of getting into rails (hotwired) and excellent and super popular packages like stimulus refl

[2021-11-19 21:33] leastbad commented on #562
Hi @pitosalas,

The video is on the homepage because it's still popular as a demo. The simple truth is that we don't have a massive rash of people interpreting it as a follow-along demo. I'm not saying that you were wrong-headed for doing so, just that the magic of evolution has led to a broad surface area neural possibility. 😉 Like I said, I am going to seriously discuss altering the description

[2021-11-20 10:25] phanhaiquang opened #563 "Disable warning when using with importmap-rails"
# Feature Request

Change checker from 'package.json' to 'config/importmap-rails' or using a custom config to define the file name of the file to check.

## Is your feature request related to a problem?

When using importmap-rails, config/importmap.rb is like below
pin 'stimulus_reflex', to: 'https://ga.jspm.io/npm:stimulus_reflex@3.4.1/javascript/stimulus_reflex.js'

Because importmap is used, we

[2021-11-20 10:48] leastbad commented on #563
Hi there!

Rails 7 is still in alpha, and even trying to `rails new` on the current main branch is impossible. StimulusReflex and CableReady currently support Webpacker, ideally 5.4.3.

When Rails 7 is ready to be released, everything will be super smooth on our end. There will be extensive documentation and the setup script will lead people through the process.

We recommend using Rails 6.1.4.1 u

[2021-11-20 13:27] phanhaiquang commented on #563
@leastbad thanks a lot for your comment. You are right, I could bypass this by adding corresponding package to package.json to temporary disable the warning.

[2021-11-20 13:50] leastbad commented on #563
Have no doubt: we just want you to succeed. The many new JS asset strategies have been a big stress.

If you have any more questions: https://discord.gg/stimulus-reflex

[2021-11-20 13:50] #563 closed

[2021-12-01 10:48] webhive commented on #551
Same issue with "@hotwired/stimulus" which start from version 3.

[2021-12-01 11:32] marcoroth commented on #551
@webhive make sure you also do `yarn add stimulus`

[2021-12-01 12:56] webhive commented on #551
I finally got another solution. Seems it resolving fine, but still testing if everything work well.

So idea is add alias to webpacker

Here is my `./config/webpack/environment.js`

[code]

[2021-12-01 13:00] marcoroth commented on #551
@webhive That works too, but there is no need for that.

If you have `stimulus` in your package.json it will automatically install `@hotwired/stimulus` with it.

[2021-12-01 21:32] shepmaster opened #564 "Using middleware causes Rails actions to be invoked twice"
# Bug Report

## Describe the bug

When a middleware is used, Rails actions are invoked twice for every Reflex action.

## To Reproduce

Add a middleware:

[code]

Then perform a page morph. In our application, we use Stimulus Reflex for live form validation, so every (debounced) input triggers a reflex. In the logs below, I'm hitting <kbd>a</kbd> in a form field.

## Expected behavior

The contro

[2021-12-01 21:51] shepmaster opened #565 "ActsAsTenant's usage of thread-local variables does not play well with the WebSocket thread pool"
# Bug Report

## Describe the bug

The documentation [suggests a usage of `ActsAsTenant`](https://docs.stimulusreflex.com/rtfm/authentication#multi-tenant-applications):

[code]

However, [ActsAsTenant uses thread-local variables](https://github.com/ErwinM/acts_as_tenant/blob/1e73f66fa1c76275506d270b2486a380ae557874/lib/acts_as_tenant.rb#L60) as provided by the [request_store gem](https://github.c

[2021-12-03 14:49] shepmaster commented on #565
I've also created https://github.com/shepmaster/stimulus_reflex_harness

[2022-01-03 16:44] fernandokbs opened #567 "Can't integrate with alpine js"
# Bug Report

## Describe the bug

I was testing the library following the hello world example, but I have some random errors for example after click in a button and update the view, several dropdowns opens, this behavior happens using,  Stimulus Dropdown and alpine js.
Any updates?

## To Reproduce

Just create the hello world example and add the alpinejs  cnd

## Expected behavior

A few things

[2022-01-03 19:10] leastbad commented on #567
Hello, Fernando. Happy to help, although technically this is a support question, not an issue. We offer free, 24/7 support via Discord on our server: https://discord.gg/stimulus-reflex

In the meantime, you can configure support for Alpine by following these instructions: https://cableready.stimulusreflex.com/customization#shouldmorph-callbacks

Specifically, you want to check out the 2nd use case

[2022-01-03 19:10] #567 closed

[2022-02-11 15:15] nakwa opened #570 "Reflex modifying ActionDispatch::Request before Rails Controller is instantiated"
# Feature Request

It'd be useful for reflexes to being able to alter/update the [ActionDispatch request env](https://github.com/stimulusreflex/stimulus_reflex/blob/master/lib/stimulus_reflex/reflex.rb#L82) (that is URL, HEADERS or at least QueryString) before instantiating the Rails Controllers (when going with morph :page).

## Is your feature request related to a problem?

Sometimes reflexes wi

[2022-02-12 05:29] leastbad commented on #570
Thanks for this!

I hear you on all points. You are not at all crazy. Yes, it is very complicated. This functionality touches most of the most Jenga aspects of the library, and there's a non-trivial number of bugs that have been fixed, edge cases that have been accounted for and of course, people relying on the library to behave in a certain way.

It's especially complicated by the fact that devel

[2022-02-12 14:02] julianrubisch opened #571 "Hoist parts of utils.js to CableReady or reuse methods already present there"
For example, CR's utils.js already has a debounce and xpathToElement function.

I think there's an opportunity here to save on bundle size.

Cc @marcoroth @ParamagicDev

[2022-02-13 20:35] nakwa commented on #570
Thanks for your reply @leastbad.
So I've been experimenting a little on how to make this work.

- Attempt 1: Updating the request object path and params,  just like it is done with headers in #538. Bottom line is that, as far as I understand, it isn't possible to simply update the request object with a new path. It may be possible to [update the params](https://github.com/Rails/Rails/blob/main/act

[2022-02-15 09:37] #570 closed

[2022-02-15 13:44] nakwa commented on #570
Understood. StimulusReflex is meant to dynamically update stuff on the current page, I get it, it makes sens.
I also understand that CableReady push_state and other operations are not of stimulus reflex concern, in any way.

Nonetheless, in the same way that you can change `headers` and assign `params` shouldn't it be possible to update the query part of the URL (`querystring` parameters) accordin

[2022-03-08 23:17] ni3t opened #574 "`StimulusReflex.config.logging = nil` raises errors"
# Bug Report

## Describe the bug

Setting `config.logging` (the [documented way](https://docs.stimulusreflex.com/appendices/troubleshooting#stimulusreflex-logging) to kill logging on the server) to nil raises errors when logging.

## To Reproduce

Set `config.logging` to nil and see these errors:

[code]

## Expected behavior

Not throw errors

## Screenshots or reproduction

n/a

## Versions

##

[2022-03-09 08:29] leastbad commented on #574
Great catch, Nick! **Thank you**.

[2022-03-09 08:29] #574 closed

[2022-03-14 03:03] leastbad commented on #511
Hey @christopheragnus, I wanted to provide an update because I think we saw something similar happen with Shoelace web components over the past few days. @ParamagicDev brought it up and the "solution" was assessed on Discord: https://discord.com/channels/629472241427415060/891395933089189918/952747035491188786

The problem is that many web components modify their `outerHTML` (via changing attribut

[2022-03-14 20:30] leastbad commented on #463
Hi @DanteZ5, sorry that you're having trouble. Can you please confirm what versions of StimulusReflex and CableReady that you're running, as well as your Rails version and JS tooling stack?

Is it one Reflex that isn't working, or all of them?

Do you have a git repo we could check out? Are you on Discord? If not, you should be!

[2022-03-15 08:01] DanteZ5 commented on #463
we're connected on Discord (I'm Mox). Thanks for your help, I'm still working on called reflex from stimulus controller trying to move action from `connect` to something like `variableTargetConnected`, but your solution to add beforeReflex and afterReflex in application_controller.js works for reflex called from HTML.

` beforeReflex() {
    ReactRailsUJS.unmountComponents()
  }

  afterReflex() {

[2022-03-21 21:34] Anakin100100 opened #578 "Add example with locales to documentation"
# Feature Request

Add example with locales to documentation

## Is your feature request related to a problem?

The way that instance variables are passed to rendering partials are non obvious to new users and the error messages resulting don't point toward a solution at all (No route matches {} when model instance variable for a form is missing).

## Describe the solution you'd like

adding an ex

[2022-03-21 23:24] leastbad commented on #578
Hi Pawel, I'm glad that you got sorted out.

The first thing you should do in a situation where something is evading you is ask for help on Discord. We really are happy to answer questions like this. We don't want you to have to take a long walk and question your life.

One thing newcomers to Rails complain about is "magic". As a long-term Rails user, it only gets harder to be conscious of where m

[2022-03-21 23:24] #578 closed

[2022-03-28 01:35] leastbad commented on #187
Try
[code]

[2022-03-28 01:45] TimeTravelerFromNow commented on #187
Thanks for the fast response, I'm very new to all this, would I need a redis server running? If so can you share a guide for ubuntu 20.04, I'm using mina for deployment and could probably add a command in my deploy.rb to start the redis server.
[code]

[2022-05-05 12:33] julianrubisch opened #583 "Installer finds false positive controller import in esbuild setup"
Just found out that this line:

https://github.com/stimulusreflex/stimulus_reflex/blob/165c2fae77b164e2f82306f4c692f97040b9c7fd/lib/tasks/stimulus_reflex/install.rake#L41

fails in a new `jsbundling-esbuild` setup because the following is typically present:

[code]

thought I'd make a quick note of it.

[2022-07-04 14:53] phacks commented on #567
I ran into similar issues and figured out a solution that worked for us, which I [shared](https://discord.com/channels/629472241427415060/733725826411135107/984417165006471188) in the Discord linked above. I’ll cross-post it here as this issue might also be a good place for it:

There were two issues:

1. The shouldMorph callback example in the SR docs (https://cableready.stimulusreflex.com/custom

[2022-07-06 08:58] leastbad commented on #565
Hey Jake, look what Mr. @palkan cooked up for us: https://anycable.io/blog/multi-tenancy-vs-cables/

Truly, I didn't fully understand the problem scenario before. I'm not a concurrency/threading expert, and I am still learning more about how Action Cable works behind the scenes every day.

Anyhow, the post details solutions that should work for Action Cable and AnyCable today, and Rails 7.1 will h

[2022-07-06 09:00] leastbad commented on #564
Jake, can you comment on whether this issue persists after implementing the solution discussed in #565, please?

[2022-07-23 18:29] leastbad opened #598 "SR 4 can safely shrink request and response payload sizes"
With a major version bump on the horizon, we can take a hard look at our payload sizes. IMO, much of the information that we're passing is redundant. I'm going to do a breakdown here so that we can discuss and share our approach with folks like @joshleblanc and @jonathan-s who write code that interfaces with our data structures.

Note that several points assume that #592 will be merged.

# Request

[2022-08-26 01:56] leastbad commented on #598
If we capture the permanent flagged DOM elements during the Reflex init and store references, we can do permanent protection entirely on the client and not even need to send the `permanentAttributeName` at all.

[2022-08-30 04:42] wheee opened #605 "Reflex action happens twice when clicking once on a button with a Stimulus controller"
# Bug Report

## Describe the bug

Clicking on a Button with a reflex action and a stimulus controller fires the reflex action twice!

## To Reproduce

1. Clone the repo and setup - bin/setup
2. Run the server - bin/rails s
3. Open localhost:3000 with Chrome (see note below about Safari)
4. Click on the button (or the link)
5. Observe in the DevTools console or in the Server logs that the ExampleR

[2022-09-04 07:08] marcoroth commented on #605
Hey @wheee, I just realized that I always just replied on Discord and not here.

This issue is being resolved as soon as #606 is merged! Thank you!

[2022-09-04 07:21] marcoroth opened #607 "Refactor `schema.js`"
# Feature Request

This is more like a refactoring idea for the `schema.js` file at: https://github.com/stimulusreflex/stimulus_reflex/blob/945428c0aab9f88c5b119f3ae8f8e54893958b53/javascript/schema.js#L18-L29

The current approach uses `Object.defineProperty` to define properties on the exported object so that you can call something like `Schema.reflex` to access the value of `schema['reflexAttri

[2022-09-06 07:29] #605 closed

[2022-09-06 07:38] leastbad opened #608 "`stimulus-reflex:ready` event should only be emitted once per page load"
# Feature Request

Currently, the `stimulus-reflex:ready` event is emitted every time `setupDeclarativeReflexes()` is called. There are two concerns:

1. Someone might reasonably expect this to only be called once, leading to multiple initializations of app-level functions.
2. We might eventually remove the `readystatechange` handler in favour of just letting each Stimulus controller register itse

[2022-09-06 11:05] marcoroth commented on #608
I don't think this should be a big deal, since we just exported that function a few commits ago in #602.

So it's never actually called twice unless you are explicitly importing the `setupDeclarativeReflexes()` function and calling it yourself in your application.

One solution might be to just move the `emitEvent('stimulus-reflex:ready')` to the eventlistener in `javascript/stimulus_reflex.js`:

[2022-09-06 18:59] leastbad commented on #608
I don't believe that's correct. We call it every time the mutation observer picks up new elements.

https://github.com/stimulusreflex/stimulus_reflex/blob/500e6c9c5440b09c63f73bad6fad6bbdd5789f1e/javascript/stimulus_reflex.js#L64

[2022-09-06 19:34] marcoroth commented on #608
Oh, right. But that would mean that we were also emitting the event multiple times for a long time.

[2022-09-06 19:42] leastbad commented on #608
Yes, `stimulus-reflex:ready` is a relatively recent addition. It's possible "very few" are using it, yet.

[2022-09-10 07:30] leastbad opened #609 "Provide configurable Reflex object cleanup hook"
Just moving this out of #592, and stashing it as a TODO issue.

As @hopsoft said in [this comment](https://github.com/stimulusreflex/stimulus_reflex/pull/592#discussion_r933808223):

To which I replied:

There's two high-level approaches possible:

1. cleanup executed as part of the final stage of each Reflex
2. launch a `setInterval` that runs globally, purges every `n` seconds (configurable via

[2022-11-18 10:24] godfreymutebi commented on #118
try installing node js 16 using nvm

[2022-11-21 10:53] cromega commented on #473
Could we have a 3.4.2 release with this in? and potentially other fixes that make the library usable with esbuild please?

[2022-11-21 11:02] leastbad commented on #473
Yes! Coming very soon. This is what is currently in the #announcements channel on our Discord:

I just pushed a new update to the upcoming SR installer that supports **Shakapacker** and **Vite**. SR now supports all major bundlers in their default configuration:

Rails 6.1: webpacker 5.4.3, shakapacker, vite
Rails 7: importmap, esbuild, shakapacker, vite

You don't need to have SR/CR checked out l